* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
header {
     display: flex;
     width: 70%;
     height: 20vh;
     margin: auto;
     margin-top: 5vh;
     align-items: center;
}
.logo-container, .nav-links{
    display:flex;
}
.logo-container {
    flex: 2;
}
.logo-container h4 {
    background: linear-gradient(to right,#765C47,#927359,#C49C76);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin: 10px;
}
.logo-link {
    transition: 0.2s;
}
.logo-container :hover {
    transform: scale(1.2);
}
nav {
    flex: 3;
}
.nav-links {
    justify-content: space-evenly;
    list-style-type: none;
}
.nav-link {
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    color:black;
    transition: 0.2s;
}
.nav-links :hover {
    color:#765C47;
    transform: scale(1.5);
}

.main-content {
    display: flex;
    width: 70%;
    margin:auto;
    min-height: 60vh;
    align-items: center;
}
.introduction {
    flex: 2;
}
.main-content-text{
    animation: up 1.5s ease;
}
.main-content-text h1 {
    font-size: 40px;
    font-weight:bold;
    background: linear-gradient(to right,#775d47,#927359,#e2cab3);
    -webkit-background-clip: text;
     background-clip:text;
    -webkit-text-fill-color:transparent;
}
.main-content-text p {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}
.cover{
    flex:1;
}
.cover img {
    height: 60vh;
    animation: slide 1.5s ease;
}
footer {
    display: flex;
    width:70%;
    height: 20vh;
    margin:auto;
    align-items:center;
    justify-content: center;
}
.contact-container {
    display: flex;
    flex-direction: column;
    width:50vh;
    min-width: auto;
    margin: auto;
    min-height: max-content;
    border-radius: 4%;
    background: linear-gradient(to right ,#775d47,#927359,#e2cab3);
    -webkit-background-clip: border-box;
    background-clip:border-box;
    box-shadow: 10px 10px 10px gray;
    padding-left: 2vw;
}

.main-contact-info{
    flex: 1;
}
.main-contact-info h1 {
    font-size: 30px;
    padding-top: 20px;
    font-weight:bold;
    color: black;
    animation: up 1.5s ease;
}
.contact-box {
    animation: up 1.5s ease;
} 
 .contact-text p  {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
    animation: up 1.5s ease;
}
.contact-text a  {
    color: black;
    text-decoration: none;
}
.contact-text :hover {
    color: #e2cab3;
}
.social-media-container {
    flex: 1;
}
.social-media-icons {
    display: flex;
    list-style-type: none;
    animation: up 1.5s ease;
}
.social-media-icon { 
    margin: 10px;
    font-size:36px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
.social-media-icon :hover {
    color:#e2cab3;
    transform: scale(1.5) rotate(20deg)
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column{
    flex: 33%;
    max-width: 30%;
    padding: 4px;
}
.column img {
    margin-top: 8px;
    width: 100%;
    box-shadow: 10px 10px 10px gray ;
    transition: 0.1s ease-in;
}
.column img:hover {
transform:scale(1.2);
box-shadow: 10px 10px 10px gray ;
border-radius: 2%;
}

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@media screen and ( max-width:1024px){
   .main-content {
       flex-direction: column;
       align-content: center;
   }
   .intro-text h1 {
       text-align: center;
       font-size: 33px;
   }
   .intro-text p {
       text-align: center;
       font-size: 23px;
       margin-top: 5vh;
   }
}
@media screen and (max-width:850px){
    .column {
        flex: 50%;
        max-width: 48%;
        padding: 8px;
    }
}
@media screen and (max-width:650px) {
   header {
        flex-direction: column;
        align-items: center;
        
    } 
    .main-content {
        flex-direction: column;
    }
    .logo-container {
        margin-top: 5vh;
        margin-bottom: 3vh;
    }
    .intro-text h1 {
        font-size: 40px;
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text p {
       font-size: 25px;
       margin-top: 3vh;
       text-align: center;
    }
    .nav-link{
        padding-right: 25px;
    }
    .column {
        flex: 100%;
        max-width: 98%;
        padding: 8px;
    }
}
@media screen and (max-width :396px){
    .nav-link{
        padding-right: 14px;
        font-size: 17px;
    }
}

